* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

.back-vid {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
  background-position: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 70px;
  background: transparent;
  background-color: rgb(153, 150, 150, 0.2);
  backdrop-filter: blur(8px);
  border: 2px solid rgb(160, 160, 177);
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0);
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Interstellar W00 Regular;
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  margin-right: 20px;
}

.icons {
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
  vertical-align: text-bottom;
  float: left;
  overflow: hidden;
}

.header-text {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: transparent;
  background-color: rgb(153, 150, 150, 0.8);
  backdrop-filter: blur(5px);
  border: 2px solid rgb(160, 160, 177);
  border-radius: 20px;
  box-shadow: 12px 3px 20px rgb(0, 0, 0);
  min-width: 170px;
  z-index: 1;
  font-size: 14px;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
}

.header-text:hover .dropdown-content {
  display: block;
}

.welcome-note {
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  font-size: 40px;
  font: bold;
  font-family: Interstellar W00 Regular;
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  margin: auto;
  margin-top: 80px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 5px;
}

.trailer:hover {
  font-size: 21px;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(247, 247, 30);
}

.about {
  font-family: Interstellar W00 Regular;
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  margin: 30px;
  font-size: 15px;
  font-weight: 80;
}

.film-poster {
  height: 500px;
}

.dust-storm {
  height: 250px;
}

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about-the-movie,
.welcome {
  display: block;
  margin: 20px auto;
  margin-top: 100px;
  background: transparent;
  background-color: rgb(153, 150, 150, 0.2);
  backdrop-filter: blur(5px);
  width: fit-content;
  max-width: 90%;
  height: fit-content;
  text-align: center;
  border: 2px solid rgb(160, 160, 177);
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0);
  padding: 20px;
}

.about u b {
  font-size: 20px;
}

.about b {
  font-size: 18px;
}

.background-1 {
  background-size: cover;
  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -3;
}

.the-future-and-the-mission,
.the-wormhole,
.the-blackhole,
.gl-zone-and-pl,
.The-teserract {
  display: inline-block;
  margin: 50px;
  margin-top: 100px;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background: transparent;
  background-color: rgb(153, 150, 150, 0.2);
  backdrop-filter: blur(5px);
  border: 2px solid rgb(160, 160, 177);
  border-radius: 20px;
  box-shadow: 12px 3px 20px rgb(0, 0, 0);
  font-weight: 100;
}

.logo {
  width: 50px;
  border-radius: 50px;
  margin-left: 20px;
}

.site-footer {
  box-shadow: 1px 1px 20px rgb(0, 0, 0) inset;
  background-color: white;
  color: black;
  padding: 20px 20px 20px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.footer-column {
  flex: 1 1 250px;
  margin: 50px;
  margin-top: 30px;
}

.footer-column h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #0077b5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0px;
}

.footer-column a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 0;
  display: inline-block;
}

.footer-column a:hover {
  color: #39039c;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid black;
  padding-top: 20px;
  font-size: 0.9rem;
  color: grey;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}

.gmail-logo,
.instagram-logo,
.linkedin-logo {
  display: inline-block;
  justify-content: space-between;
  vertical-align: middle;
  width: 40px;
  margin-right: 20px;
  align-items: row;
  border-radius: 25px;
  box-shadow: 1px 3px 10px rgb(51, 47, 47);
}

.feedback-sec {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background: transparent;
  background-color: rgb(153, 150, 150, 0.2);
  backdrop-filter: blur(5px);
  border: 2px solid rgb(160, 160, 177);
  border-radius: 20px;
  box-shadow: 12px 3px 20px rgb(0, 0, 0);
  font-weight: 100;
  font-family: sans-serif;
}

.ratings {
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.emoji {
  cursor: pointer;
}

.emoji :hover {
  font-size: 48px;
}

.textarea {
  display: inline-block;
  height: 40px;
  width: 430px;
  margin-bottom: 10px;
  border-radius: 7px;
  font-size: 20px;
  font-family: sans-serif;
}

.textarea-1 {
  display: inline-block;
  height: 100px;
  width: 430px;
  border-radius: 7px;
  font-size: 20px;
  font-family: sans-serif;
}

.feedback-btn {
  display: flex;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  font-size: 17px;
  background-color: transparent;
  border-radius: 5px;
}

.submit:hover {
  font-size: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(247, 247, 30);
}

.toggle_box {
  margin-left: 20px;
  width: 47px;
  height: 24px;
  display: block;
  background-color: black;
  border-radius: 11px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

input[type="checkbox"] {
  display: none;
}

.circle {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 1000px;
  margin: 3px;
  transition: 0.5s;
}
